<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nimble 👑 Nim's Package Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/app.css">
    <script src="assets/app.min.js"></script>
    <style>
        .box {
            min-height: 141px;
            max-height: 141px;
            overflow: hidden;
        }

        .box h3 a {
            font-weight: 500;
        }

        .light-theme #top-nav a {
            color: darkblue;
        }

        .tags-area a {
            /*color: #242830;*/
        }

        .spin-icon {
            top: 34px;
            right: 120px;
            width: 24px;
            zoom: 0.6;
            height: 24px;
            position: absolute;
            -webkit-animation:spin 2.3s linear infinite;
            -moz-animation:spin 2.3s linear infinite;
            animation:spin 2.3s linear infinite;
        }

        .spin-icon svg {stroke: #f5e558;}

        @-moz-keyframes spin { 
            100% { -moz-transform: rotate(360deg); } 
        }
        @-webkit-keyframes spin { 
            100% { -webkit-transform: rotate(360deg); } 
        }
        @keyframes spin { 
            100% { 
                -webkit-transform: rotate(360deg); 
                transform:rotate(360deg); 
            } 
        }
    </style>

</head>
<body class="dark-theme">
    <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container">
            <a href="/" class="logo fw-500 display-1 text-black text-decoration-none navbar-brand"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-2">
                        <a href="/about" class="nav-link">What's Nimble?</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="/browse" class="nav-link">🔥 Browse all Packages</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="/publish" class="nav-link">🤟 Publish your Package</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="/blog" class="nav-link">🗞 Blog</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="https://github.com/nim-lang">
                            <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                        </a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="https://github.com/nim-lang">
                            <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path><polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon></svg>
                        </a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="https://github.com/nim-lang">
                            <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row g-4 pt-10 mt-4 mb-4 align-content-center">
            <div class="col-lg-3">
                <div class="featured-post-thumbnail rounded overflow-hidden position-relative" style="background-image:url(https://images.unsplash.com/photo-1553227957-454e04fa8472?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80)">
                    <div class="featured-post-top position-absolute p-3 w-100 top-0">
                        <a class="badge text-bg-light" href="#">Embedded Systems</a>
                    </div>
                    <div class="featured-post-card position-absolute p-3 pb-5 w-100 bottom-0">
                        <div class="inner-post-card position-relative">
                            <h2 class="h4 mt-2">
                                Here you can find some top-notch packages for Embedded Systems
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="featured-post-thumbnail rounded overflow-hidden position-relative" style="background-image:url(https://images.unsplash.com/photo-1642059893618-22daf30e92a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2160&q=80)">
                    <div class="featured-post-top position-absolute p-3 w-100 top-0">
                        <a class="badge text-bg-primary" href="#">Packages</a>
                    </div>
                    <div class="featured-post-card position-absolute p-3 pb-5 w-100 bottom-0">
                        <div class="inner-post-card position-relative">
                            <h2 class="h4 mt-2">
                                P2P &mdash; Networking stack and library modularized out of The IPFS Project
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="featured-post-thumbnail rounded overflow-hidden position-relative" style="background-image:url(https://images.unsplash.com/photo-1647351408678-7ce4759a9c1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80)">
                    <div class="featured-post-top position-absolute p-3 w-100 top-0">
                        <a class="badge text-bg-dark" href="#">Packages</a>
                        <a class="badge text-bg-info" href="#">Parsers</a>
                    </div>
                    <div class="featured-post-card position-absolute p-3 pb-5 w-100 bottom-0">
                        <div class="inner-post-card position-relative">
                            <h2 class="h4 mt-2">
                                JSONy &mdash; A loose, direct to object json parser and serializer with hooks
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="featured-post-thumbnail rounded overflow-hidden position-relative" style="background-image:url(https://images.unsplash.com/photo-1630857453903-0386bfb0d990?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2160&q=80)">
                    <div class="featured-post-top position-absolute p-3 w-100 top-0">
                        <a class="badge text-bg-dark" href="#">GUIs</a>
                        <a class="badge text-bg-info" href="#">Cross-Platform</a>
                    </div>
                    <div class="featured-post-card position-absolute p-3 pb-5 w-100 bottom-0">
                        <div class="inner-post-card position-relative">
                            <h2 class="h4 mt-2">
                                NiGui &mdash; Cross-platform desktop GUI toolkit for Nim language
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="py-10 px-3">
        <div class="container pt-4">
            <div class="row mb-4">
                <div class="col-lg-3">
                    <h4 class="h5">Discover Nim 👑</h4>
                    <ul>
                        <li><a class="text-decoration-none" href="#">Learn Nim in 5 minutes</a></li>
                        <li><a class="text-decoration-none" href="#">Nim basics tutorial</a></li>
                        <li><a class="text-decoration-none" href="#">Official Playground</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4 class="h5">Nim Tutorials for</h4>
                    <ul>
                        <li><a class="text-decoration-none" href="#">C programmers</a></li>
                        <li><a class="text-decoration-none" href="#">Python programmers</a></li>
                        <li><a class="text-decoration-none" href="#">TypeScript/JavaScript programmers</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4 class="h5">👑 Nim for...</h4>
                    <ul>
                        <li><a class="text-decoration-none" href="#">C programmers</a></li>
                        <li><a class="text-decoration-none" href="#">Python programmers</a></li>
                        <li><a class="text-decoration-none" href="#">TypeScript/JavaScript programmers</a></li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center mt-4 mx-auto">
                    <a href="#" class="logo d-block mb-3 mx-auto bw"></a>
                    <p>&copy; 2022 Nim & Contributors &mdash; All rights reserved</p>
                    <p class="text-muted"><small>This website is available on <a href="#">GitHub</a> and contributions are welcome!<br>
                        Original website design & logo by <a href="https://github.com/georgelemon">George Lemon</a>.</small></p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            App.init({
                indexedDBSearch: true
            })
        });
    </script>
</body>
</html>